<div class="modal-header">
    <h3 class="modal-title">About</h3>
</div>
<div class="modal-body2">
    <div id="about">
        <p>&nbsp &nbsp A awesome project utilizing D3.js library and Web Audio API to play and <br>visualize your choice of music. The Web Audio API captures and converts <br> the music frequency to a data set that is rendered into D3 charts. I got a lot <br> of inspiration from other developers while creating this project.</p>

        <p>&nbsp &nbsp Feel free to visit my <a href="https://github.com/HAESOL87/Music-Visualizer">Github page</a> to take a look and play with the source code. Last note, I do not own any of the music on this website. Have fun!</p>

        <p id="myname">-Haesol &nbsp &nbsp</p>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="close()">Close</button>
</div>
