<div class="modal-header">
    <h3 class="modal-title">About</h3>
</div>
<div class="modal-body2">
    <div id="about">
        <p>&nbsp &nbsp A awesome project using D3.js library and Web Audio API to play and visualize</p>
        <p>&nbsp your choice of music. I got a lot of inspiration from other developers while</p>
        <p>&nbsp creating this project.</p>
        </p>
        <p>&nbsp &nbsp Feel free to visit my Github page to take a look and download the source code.</p>
        <p>&nbsp By the way, I do not own any of the music uploaded on this website. Have fun!
        </p>
        <p id="name"> -Haesol &nbsp &nbsp &nbsp</p>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="close()">Close</button>
</div>
