<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

    <base href="/">
    <style>
    body {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        fill: #8C8C8C;
    /*    background: #222;*/
    }
    h1{
    -webkit-margin-after: 0em;
    }

      .title {
        font-size: 28px;
        fill: #4F4F4F;
        font-weight: 300;
        text-anchor: start;
      }

      .subtitle {
        font-size: 14px;
        fill: #AAAAAA;
        font-weight: 300;
        text-anchor: start;
      }

      .credit {
        font-size: 12px;
        fill: #AAAAAA;
        font-weight: 300;
        text-anchor: start;
      }

      .axis path,
      .axis tick,
      .axis line {
          fill: none;
          stroke: none;
      }

      .axis text {
          font-size: 12px;
          fill: #AAAAAA;
          font-weight: 400;
      }

      .legendTitle {
          font-size: 14px;
          fill: #4F4F4F;
          font-weight: 300;
      }

      .january {
        font-size: 14px;
        text-anchor: start;
        font-weight: 300;
        fill: #AAAAAA;
      }

      .yearLine {
        stroke: #AAAAAA;
      }

      .axisText {
        fill: #C4C4C4;
        font-size: 11px;
        font-weight: 300;
        text-anchor: middle;
        text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
      }

      .axisCircles {
        fill: none;
        stroke: #E8E8E8;
        stroke-width: 1px;
      }

  </style>
  </head>
  <body ng-app='visualizerApp'>
    <h1><%= title %><span id = "songLoaded" style="font-size: 14px; font-weight: normal">        Post Malone - White Iverson (Malaa Remix)</span></h1>
    <!-- <div style="border: solid 2px; padding: 5px;"> -->
    <div>
      <a ui-sref="home">Home</a>
      <a ui-sref="song">Songs</a>
      <a ui-sref="about">About</a>
      <span> | </span>
      <button id="play" onclick="document.getElementById('audioElement').play()">Play the Audio</button>
      <button id="pause" onclick="document.getElementById('audioElement').pause()">Pause the Audio</button>
      <button onclick="document.getElementById('audioElement').volume+=0.1">Increase Volume</button>
      <button onclick="document.getElementById('audioElement').volume-=0.1">Decrease Volume</button>
      <span> | </span>
      <button id="bar">Bar</button>
      <button id="circle">Circle</button>
      <button id="radial">Radial</button>
      <button id="hexagon">Hexagon</button>
    </div>

    <audio id="audioElement" src="audio/Post Malone - White Iverson (Malaa Remix).mp3"></audio>

    <div ui-view=""></div>

    <div id="visualizer"></div>
<!--     <div>style="border: solid 2px; padding: 5px;"></div>
 -->

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="angular/angular.min.js" defer></script>
    <script type="text/javascript" src="angular-ui-router/release/angular-ui-router.min.js" defer></script>
    <!-- <script type="text/javascript" src="javascripts/app2.js"></script> -->
    <script type="text/javascript" src="javascripts/jquery.js" defer></script>
    <script type="text/javascript" src="javascripts/client.js" defer></script>

<!-- <script id="script" type="text/javascript" src="javascripts/visualizerBar.js" defer></script> -->


<!--     <script type="text/javascript" src="javascripts/visualizerBar.js" defer></script>
 --><!--
    <script type="text/javascript" src="javascripts/visualizerCircle.js" defer></script>

 -->
<!--      <script type="text/javascript" src="javascripts/visualizerRadial.js" defer></script>
 -->
<!--   <script type="text/javascript" src="javascripts/visualizerHexagon.js" defer></script>
 -->
  <script id="script" type="text/javascript" src="javascripts/visualizer.js" defer></script>



  </body>
</html>

