body {
    padding-left: 50px;
    padding-right: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    fill: #8C8C8C;
}

a {
    color: #00B7FF;
}

#glyph {
    background-color: #FFF;
    margin-top: 0;
    margin-bottom: 0;
}

#title {
    font-size: 40px;
}

#songLoaded {
    font-size: 18px;
    font-weight: normal;
}

#controller1,
#controller2,
#controller3,
.divide {
    font-size: 16px;
}

#controllerBox {
  padding-bottom: 6px;
}

#visualizer {
  padding-left: 10px;
}
