body {
  padding-left: 50px;
  padding-right: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#glyph {
  background-color: #FFF;
  margin-top: 0;
  margin-bottom: 0;
}

/*.divide {
  font-size: 20 px;

}*/
